@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"PoppinsBold";
  src: url(/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family:"PoppinsMedium";
  src: url(/fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family:"PoppinsRegular";
  src: url(/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family:"PoppinsLight";
  src: url(/fonts/Poppins-Light.ttf) format("truetype");
}

.h-screen-safe {
  min-height: 100vh;
  min-height: 100dvh;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

html,
body,
#__next {
  min-height: 100%;
}

html,body {
  position: relative;
  overflow-x: clip;
  width: 100%;
}

html {
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .h1 { @apply font-PoppinsBold tracking-wide leading-[3rem] text-44px md:leading-normal md:text-48px xl:text-56px }
  .h2 { @apply font-PoppinsBold tracking-wide text-30px md:text-40px xl:text-52px }
  .copy { @apply font-PoppinsLight tracking-wide text-14px md:text-20px xl:text-18px }
  .heroSubheadline { @apply font-PoppinsBold tracking-wide text-24px md:text-30px lg:text-24px xl:text-30px }
  .heroText { @apply font-PoppinsLight tracking-wide text-14px md:text-16px lg:text-14px xl:text-18px }
  .button { @apply font-PoppinsMedium tracking-wide text-14px md:text-16px lg:text-14px xl:text-18px }
  .work { @apply font-PoppinsRegular tracking-wider text-24px lg:text-32px xl:text-38px }
  .p { @apply font-PoppinsLight text-16px md:text-20px }
  .link { @apply font-PoppinsBold tracking-wide text-28px }
  .linkDesktop { @apply font-PoppinsBold tracking-wider text-18px }
  .linkGallery { @apply font-PoppinsRegular tracking-wider text-18px }
}

/* Navbar links hover underline animation on devices supporting hover */
.anim_underline {
  position: relative;
}

@media (hover: hover) {
  .anim_underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }

  .anim_underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.anim_underline_active:after {
  transform: scaleX(1);
  height: 1px;
  background-color: #000;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 0.4s ease-in;
}

.active.fade-bottom {
  animation: fade-bottom 0.4s ease-in;
}


